{% extends "base.html" %} {% load staticfiles %}

<!-- banner -->
{% block banner-sec %}
<div class="banner-sec">
    <div class="banner-grids">
        <div class="col-md-7 banner-left">
            <div class="banner_lft_info">
                {%for project in project_list %}
                {%if project.banner_type == 'BANNER_LEFT' %}
                <p><a href="projects.html">{{project.title}}</a></p>
                <h3>{{project.summary}}</h3>
                {% endif %}
                {% endfor %}
            </div>

        </div>
        <div class="col-md-5 banner-right">
            <div class="bnr-right grid1">
                <div class="banner_rght_info">
                    {%for project in project_list %}
                    {%if project.banner_type == 'BANNER_RIGHT_GRID1' %}
                    <p><a href="projects.html">{{project.title}}</a></p>
                    <h4>i fringilla ullamcorper.</h4>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="bnr-right grid2">
                <div class="banner_rght_info bnr_rht">
                    {%for project in project_list %}
                    {%if project.banner_type == 'BANNER_RIGHT_GRID2' %}
                    <p><a href="projects.html">{{project.title}}<</a></p>
                    <h4>Maecenas hendrerit nunc non malesuada posuere risus id dui diam commodo tristique.</h4>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="bnr-right grid3">
                <div class="banner_rght_info">
                    {%for project in project_list %}
                    {%if project.banner_type == 'BANNER_RIGHT_GRID3' %}
                    <p><a href="projects.html">{{project.title}}</a></p>
                    <h4>Integer nisi nec malesuada posuere risus id dui fringilla ullamcorper.</h4>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="bnr-right grid4">
                <div class="banner_rght_info bnr_rht">
                    {%for project in project_list %}
                    {%if project.banner_type == 'BANNER_RIGHT_GRID4' %}
                    <p><a href="projects.html">{{project.title}}</a></p>
                    <h4>Maecenas hendrerit nunc non malesuada posuere risus id dui diam commodo tristique.</h4>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
{% block content%}
<div class="content">
    <div class="container">
        <div class="content-grids">
            <div class="col-md-5 content-left">
                <div class="cntnt-head">
                    <h3>Welcome</h3>
                    <span></span>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        {%for new in new_list %}
                        <div class="panel-heading" role="tab" id="heading{{forloop.counter}}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}"
                                   aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                                    {{forloop.counter}}
                                    {{new.name}}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{forloop.counter}}" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="heading{{forloop.counter}}">
                            <div class="panel-body">
                                {{new.summary}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingTwo">
                         <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         Itaque earum rerum
                         </a>
                         </h4>
                         </div>
                         <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                         <div class="panel-body">
                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                         squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                         quinoa nesciunt laborum eiusmod.
                         </div>
                         <div class="panel-body">
                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                         squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                         quinoa nesciunt laborum eiusmod.
                         </div>
                         </div>
                         </div>
                         <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingThree">
                         <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         Autem quibusdam
                         </a>
                         </h4>
                         </div>
                         <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                         <div class="panel-body">
                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                         squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                         quinoa nesciunt laborum eiusmod.
                         </div>
                         </div>
                         </div>
                         <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingFour">
                         <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         Excepturi sint
                         </a>
                         </h4>
                         </div>
                         <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingFour">
                         <div class="panel-body">
                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                         squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                         quinoa nesciunt laborum eiusmod.
                         </div>
                         <div class="panel-body">
                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                         squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                         quinoa nesciunt laborum eiusmod.
                         </div>
                         </div>
                         </div>
                         <div class="panel panel-default">
                         <div class="panel-heading" role="tab" id="headingFive">
                         <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                         Voluptatum deleniti
                         </a>
                         </h4>
                         </div>
                         <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingFive">
                         <div class="panel-body">
                         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                         squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                         quinoa nesciunt laborum eiusmod.
                         </div>
                         </div>
                         </div> -->
                </div>
            </div>
            <div class="col-md-7 content-right">
                <div class="cntnt-head">
                    <h3>Our Features</h3>
                    <span></span>
                </div>
                <div class="icon-grids">
                    <div class="col-md-6 futr-grid futr1">
                        <div class="icon-pic">
                            <div class="icon text-center">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="icon-info">
                            <h4><a href="#">Vestibulum sagittis</a></h4>
                            <span></span>
                            <p>Donec dui velit, hendrerit id pharetra nec, posuere porta nisl. Donec magna nulla,
                                commodo in ultrices faucibus lacus aliquet. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 futr-grid">
                        <div class="icon-pic">
                            <div class="icon text-center">
                                <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="icon-info">
                            <h4><a href="#">Vestibulum sagittis</a></h4>
                            <span></span>
                            <p>Donec dui velit, hendrerit id pharetra nec, posuere porta nisl. Donec magna nulla,
                                commodo in ultrices faucibus lacus aliquet. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="icon-grids grids2">
                    <div class="col-md-6 futr-grid futr1">
                        <div class="icon-pic">
                            <div class="icon text-center">
                                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="icon-info">
                            <h4><a href="#">Vestibulum sagittis</a></h4>
                            <span></span>
                            <p>Donec dui velit, hendrerit id pharetra nec, posuere porta nisl. Donec magna nulla,
                                commodo in ultrices faucibus lacus aliquet. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 futr-grid">
                        <div class="icon-pic">
                            <div class="icon text-center">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="icon-info">
                            <h4><a href="#">Vestibulum sagittis</a></h4>
                            <span></span>
                            <p>Donec dui velit, hendrerit id pharetra nec, posuere porta nisl. Donec magna nulla,
                                commodo in ultrices faucibus lacus aliquet. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
